/* -- Fuentes ----------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------- */
@font-face {
    font-family: fuenteCursiva;
    src: url("../font/Caveat-VariableFont_wght.ttf");
}

@font-face {
    /* font-family: fuenteGeneral;
    src: url("../font/DMSerifDisplay-Regular.ttf"); */
    font-family: fuenteGeneral;
    src: url("../font/Poppins-Regular.ttf");
}

@font-face {
    font-family: fuenteCode;
    src: url("../font/SourceCodePro-Regular.ttf");
}

@font-face {
    font-family: fuenteLogo;
    src: url("../font/PermanentMarker-Regular.ttf");
}

/* -- Configuraciones Generales ----------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------- */
:root {
    --colorPrimario: black;
    --colorSecundario: rgb(255, 102, 102);
    --colorTerciario:  rgb(102, 102, 102);
    --colorText1: white;
    --colorText2: aqua;
    --colorTextTitulos: rgb(70, 53, 53);
    --colorTextTituloBorde: rgb(255, 255, 255);
    --colorCaja: rgba(0, 0, 0, 0.7);
    --colorCajaBorde: white;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: fuenteGeneral;
    font-size: 16px;
    color: var(--colorText1);
    background-color: var(--colorPrimario);
}

a {
    color: var(--colorText1);
    text-decoration: none;
    margin: 0.15rem;
}

a:hover {
    color: var(--colorSecundario);
}

.seccion {
    background-color: var(--colorPrimario);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.titulo-h1 {
    padding: 1vw 0 1vw 10vw;
    margin: 0;

    color: var(--colorTextTitulos);
    text-shadow:
        1px 0 var(--colorTextTituloBorde),
        -1px 0 var(--colorTextTituloBorde),
        0 1px var(--colorTextTituloBorde),
        0 -1px var(--colorTextTituloBorde),
        1px 1px var(--colorTextTituloBorde),
        -1px -1px var(--colorTextTituloBorde),
        1px -1px var(--colorTextTituloBorde),
        -1px 1px var(--colorTextTituloBorde);
}

iframe {
    width: 1px;
    min-width: 100%;
}

@media (max-width: 481px) {
    body {
        font-size: 14px;
    }
}

/* -- NavBar ------------------------------------------------------------------------------------ */
/* ---------------------------------------------------------------------------------------------- */
.navBar01-contenedor {
    position: fixed;
    width: 100vw;
    background-color: var(--colorPrimario);
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    z-index: 1;
}

/* navBar01-logo --------------------- */
.navBar01-logo {
    display: flex;
    align-items: center;
    margin-left: 2rem;
}

.navBar01-logo img {
    height: 3rem;
    margin-right: 1rem;
}

/* navBar01-btn ---------------------- */
.navBar01-btn {
    cursor: pointer;
    display: none;
    padding-right: 2rem;
}

.navBar01-A, .navBar01-B, .navBar01-C {
    width: 2rem;
    height: 5px;
    background-color: var(--colorText1);
    border-radius: 4px;
    margin: 6px 0;
    transition: 0.4s;
}

.navBar01-btn_click .navBar01-A {
    transform: translateY(11px) rotate(45deg);
    background-color: var(--colorSecundario);
}

.navBar01-btn_click .navBar01-B {
    opacity: 0;
}

.navBar01-btn_click .navBar01-C {
    transform: translateY(-11px) rotate(-45deg);
    background-color: var(--colorSecundario);
}

/* navBar01-links -------------------- */
.navBar01-links {
    margin-right: 2rem;
}

.navBar01-links a {
    margin-left: 1rem;

}

.navBar01-links a:hover {
    color: var(--colorSecundario);
}

/* navBar01 comportamineto ----------- */
@media (max-width: 767.98px) {
    .navBar01-btn {
        display: block;
    }

    .navBar01-links {
        position: fixed;
        display: grid;
        top: 60px;
        background-color: var(--colorPrimario);
        text-align: center;
        width: 100%;
        left: 100%;
        transition: 0.4s;
    }

    .navBar01-links_noOcultar {
        left: 0;
    }

    .navBar01-links a {
        padding: 1rem;
    }
}

/* navBar01 + Parallax --------------- */
header {
    background-image: url("../img/fondo_02.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--colorPrimario);
    height: 100svh;
}

.navBar01-seccion {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navBar01-seccion > div {
    padding: 0 1rem;
    margin-top: 20vh;
    text-align: center;
    border: 1px solid var(--colorCajaBorde);
    background-color: var(--colorCaja);
    backdrop-filter: blur(5px);
    color: var(--colorText1);
    /* letter-spacing: 2px; */
    font-family: fuenteCode;
}

.navBar01-seccion p {
    color: var(--colorText2);
}

/* -- Seccion Tecnologías ----------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------- */
.contenedor-st {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
    gap: 1rem;
    justify-content: center;
    margin: 1rem;
}

.tarjeta-st {
    border: 1px solid var(--colorTerciario);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.tarjeta-st h2 {
    background-color: var(--colorTerciario);
    color: var(--colorText2);
    margin: 0;
    padding: 1vw;
}

.tarjeta-st p {
    margin: 1vw;
}

.tarjeta-st img {
    background-color: white;
    object-fit: cover;
}

/* -- Seccion-Relleno --------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------- */
.seccion-relleno {
    height: 20vh;
    background-image: url("../img/fondo_01.jpg");
}

/* -- Seccion Proyectos ------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------- */
.tarjeta-sp-contenedor {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(100% , 20rem), 1fr));
    justify-content: center;
}

.tarjeta-sp {
    border: 2px solid var(--colorTerciario);
    margin: 2vw;
    display: flex;
    border-radius: 100px 10px 10px 100px;
}

.tarjeta-sp img {
    max-height: 20vh;
    background-color: var(--colorSecundario);
    border-radius: 50%;
    margin: auto 0 auto 0;
}

.tarjeta-sp-div {
    width: 100%;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.tarjeta-sp-div > * {
    margin: 0;

}

.tarjeta-sp-div div {
    width: 100%;
    text-align: center;
    padding: 0.3rem;
    background-color: var(--colorTerciario);
    color: var(--colorText2);
    cursor: pointer;
}

/* -- Seccion Hobbie ---------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------- */
.seccion-hobbie {
    background-image: url("../img/guitarra01.jpg");
}

/* -- Footer ------------------------------------------------------------------------------------ */
/* ---------------------------------------------------------------------------------------------- */
footer {
    background-color: var(--colorTerciario);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(100% , 15rem), 1fr));
}

footer div {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    text-align: center;
}

footer p {
    font-size: 1.2rem;
    color: var(--colorText2);
}

.p-derechos {
    padding: 0.6rem;
    text-align: center;
}

/* ---------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------- */